<mat-sidenav-container class="app-side-nav-container">
  <mat-sidenav #sidenav class="sidebar-panel" [opened]="!isNavOver()" [mode]="isNavOver() ? 'over' : 'side'">
    <div id="scroll-area" class="navigation-hold" fxLayout="column">

      <!-- App Logo -->
      <div class="branding default-bg">
        <img src="/assets/images/logo.png" alt="" class="app-logo">
        <img src="assets/images/logo-text-white.png" alt="" class="app-logo-text" *ngIf="isDarkTheme">
        <img src="assets/images/logo-text.png" alt="" class="app-logo-text" *ngIf="isDarkTheme">
      </div>

      <!-- Sidebar user -->
      <div class="app-user">
        <div class="app-user-photo">
          <img src="assets/images/face-7.jpg" alt="">
        </div>
        <span class="app-user-name mb-05">
 <mat-icon class="icon-xs text-muted">lock</mat-icon>
 Watson Joyce
</span>
        <!-- Small buttons -->
        <div class="app-user-controls">
          <button class="text-muted" mat-icon-button mat-xs-button [matMenuTriggerFor]="appUserMenu">
 <md-icon>settings</md-icon>
</button>
          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Inbox" routerLink="/inbox">
 <mat-icon>email</mat-icon>
</button>
          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Sign Out" routerLink="/sessions/signin">
 <md-icon>exit_to_app</md-icon>
</button>
          <mat-menu #appUserMenu="matMenu">
            <button mat-menu-item routerLink="/profile/overview">
     <mat-icon>account_box</mat-icon>
     <span>Profile</span>
   </button>
            <button mat-menu-item routerLink="/profile/settings">
     <mat-icon>settings</mat-icon>
     <span>Account Settings</span>
   </button>
            <button mat-menu-item>
     <mat-icon>notifications_off</mat-icon>
     <span>Disable alerts</span>
   </button>
            <button mat-menu-item routerLink="/sessions/signin">
     <mat-icon>exit_to_app</mat-icon>
     <span>Sign out</span>
   </button>
          </mat-menu>
        </div>
      </div>
      <!-- Navigation -->
      <!-- <navigation></navigation> -->
    </div>
  </mat-sidenav>

  <app-top-bar [sidenav]="sidenav" [notificPanel]="notificationPanel">
  </app-top-bar>

    <div class="rightside-content-hold">
      <ng-content></ng-content>
    </div>

  <!-- Notificaation bar -->
  <mat-sidenav #notificationPanel mode="over" class="" align="end">
      <div class="navigation-hold" fxLayout="column">
        <app-notification [notificPanel]="notificationPanel"></app-notification>
      </div>
  </mat-sidenav>

</mat-sidenav-container>
